<mat-card>
    <mat-checkbox name="realtimeEnabled" [(ngModel)]="realtimeEnabled">Realtime</mat-checkbox>

    <button mat-raised-button [disabled]=realtimeEnabled color="primary" (click)="onClickReadButton()">Read</button>

    <mat-radio-group [disabled]=realtimeEnabled name="ttsType" [(ngModel)]="ttsType">
        <mat-radio-button value="document">Document</mat-radio-button>
        <mat-radio-button value="sentence">Sentence</mat-radio-button>
        <mat-radio-button value="word">Word</mat-radio-button>
    </mat-radio-group>

</mat-card>

<br> <mat-divider></mat-divider> <br>

<mat-form-field>
    <textarea matInput class="text-editor" name="ttsText" [(ngModel)]="ttsText" (keypress)="onTextChange($event)"
              placeholder="Type your text here"></textarea>
</mat-form-field>

<button mat-raised-button color="primary" class="doc-buttons" (click)="onClickSaveButton">Save</button>

<input id="file-upload" class="btn-file" type="file" accept=".txt" (change)="onClickFileUploadButton($event)" value="">
