<mat-card>
    <mat-checkbox>Realtime</mat-checkbox>

    <!-- Read button -->
    <button mat-raised-button color="primary">Read</button>


    <!-- Read options -->
    <mat-radio-group>
        <mat-radio-button value="document">Document</mat-radio-button>
        <mat-radio-button value="sentence">Sentence</mat-radio-button>
        <mat-radio-button value="word">Word</mat-radio-button>
        <mat-radio-button value="selected">Selected</mat-radio-button>
    </mat-radio-group>

</mat-card>

<br> <mat-divider></mat-divider> <br>

<!-- Input area -->
<mat-form-field>
    <textarea matInput class="text-editor" placeholder="Type your text here" >{{ content }}</textarea>
</mat-form-field>

<!-- Document buttons -->
<button mat-raised-button color="primary" class="doc-buttons">Save</button>

<input id="file-upload" class="btn-file" type="file" accept=".txt" (change)="fileUpload($event)" value="">
