mat-form-field {
    width: 100%;
}

mat-radio-button {
    margin-left: 15px;
}

button {
    margin-left: 15px;
}

.text-editor {
    width: 100%;
    height: 300px;
}

.doc-buttons {
    float: right;
}
